---
title: Full-service Migration Consulting
suppress_header: true
description: "Our migration services will facilitate your transition to GitLab by providing a clean, dataset to resume operations at once."
canonical_path: "/services/migration/enterprise"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Full-service Migration Consulting
    %h3.headline-subtitle
      Accelerate your transition to GitLab

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Migration of Source Code
        %p.service-para
        Your version-controlled source code data is valuable and making it readily available for immediate continuity is indispensable. Our migration services will accelerate your transition to GitLab to resume business operations at once.

        %h2 Who is this service for?
        %p.service-para
        %ul
          %li Customers who have a history with legacy Source Code Management (SCM) or DevOps tools and want to ensure a smooth transition for their teams to modern single-application architecture.
          %li Customers who have over 500 users and 1,000 repositories.
          %li Customers who have migration requirements that include multiple source systems.
          %li Customers who currently use less-popular source control systems.

        %h2 What's included?
        %p.service-para
        For more detailed information about Full-service SCM migrations, fill out the form at the bottom of the page!

        %h1 Migrating CI/CD
        %p.service-para
          Converting your Continuous Integration and Continuous Delivery (CI/CD) pipelines to a new tool like GitLab CI/CD can involve detailed considerations that take into account when moving data and enabling developers with more efficient processes.  Often these projects include a combination of technical conversation and modernization of the overall approach.
          %p.service-para
            For migrating from Jenkins or other CI/CD orchestration systems, we offer custom consulting services to understand your goals, collaborate on a solution architecutre, and execute on migration scripting and automation.

        %h2 Who is this service for?
        %p.service-para
        %ul
          %li Customers who have a history with legacy CI/CD Platforms that want to ensure a smooth transition for to a modern, single-application developer experience.
          %li Customers who are intersted in improving efficiency in the create, package, release and configure stages of their value stream.  

        %h2 What's included?
        %p.service-para
        Check out more details about <a href=/services/migration/enterprise/ci-cd-migration>CI/CD migration</a>
          
= partial "includes/services-contact-form"
