.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h2.margin-top0
      Version control for everyone
    %p
      GitLab streamlines software development with comprehensive version control and collaboration. A modern SCM tool that brings the team together. A place for the whole team; developers, product managers, designers, testers, and more are able to connect, collaborate, and dramatically reduce cycle time without sacrificing quality, security, compliance. <br><br>
      A solid foundation for your DevOps journey to transform your software delivery and deliver faster, more efficiently, and more reliable code.
  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "210", :src => "https://www.youtube.com/embed/l6K3Xn2MPJw", :width => "370"}
